.body1+p {
    color: blue;
}

body {
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.2px;
    font-family: Arial, sans-serif;
}

span {
    font-weight: bold;
}

.header {
    padding: 20px;
    background: grey;
    height: auto;
    color: #FFFFFF;
    height: 50%;
}

.header img {
    width: 100%;
    height: auto;
}

.header-title {
    margin-top: 0;
}

.header-nav {
    margin: 20px 0;
    text-align: center;
    height: 50%;
    background: lightcoral;
}

.header-nav a {
    padding: 0 10px;
    color: inherit;
    text-decoration: none;
}

.header-nav a:hover {
    text-decoration: underline;
}

.main {
    padding: 20px;
    background: lightgrey;
    line-height: 1;
    font-size: 16px;
    /* letter-spacing: 2px; */
}

.footer {
    text-align: center;
    font-size: 12px;
    color: white;
    background: black;
    padding: 10px;
}

span {
    background: lightgreen;
    display: inline-block;
}