.body1+p {
    color: blue;
}

span {
    font-weight: bold;
}

.header {
    padding: 20px;
    background: grey;
}

.header img {
    width: 100%;
    height: auto;
}

.header-title {
    margin-top: 0;
}

.header-nav {
    margin:50px 0;
}

.header-nav a {
    padding: 0 10px;
    background: darkgrey;
    color: white;
}

.main {
    padding: 20px;
    background: lightgrey;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: white;
    background: black;
    padding: 10px;
}

span {
    background: lightgreen;
    display: inline-block;
}